
.app-container{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-container div{
    padding: 10px;
}
.game-container{
    text-align: center;
}
.nav-item .active{
    background-color: blue;
}

body{
    background-color: lightbro;
}